@model ProfileVM
@{
    ViewData["Title"] = "Profile Page";
}

<section class="cld-bg-light">
    <br />
    <br />

    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/img/popcorn.svg")" alt="Logo" width="120" height="96" class="center">
            </div>
            <div class="col-md-7">
                <h1>@Model.Watcher.Username</h1>
                <h3>@Model.Watcher.FirstName @Model.Watcher.LastName</h3>
                <div class="col-sm-3">
                    <h6>Following @Model.Watcher.FollowerCount    Followers @Model.Watcher.FollowerCount</h6>
                </div>
            </div>
            <div class="col-md-2">


                <a href=/Watcher/Edit/@Model.Watcher.Id class="btn cld-btn-primary text-light">Edit Profile</a>
            </div>
        </div>
    }
    else
    {
        <p>watcher is null</p>
    }

    <br />
    <br />
</section>


