@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity
@model WatchParty.ViewModels.ProfileVM
@{
    ViewData["Title"] = "Profile Page";
}

<section class="bg-light-subtle profile-container">
    <br />
    <br />

    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/img/popcorn.svg")" alt="Logo" width="120" height="96" class="center">
            </div>
            <div class="col-md-1">
                @if (Model.isCurrentUser)
                {
                    <a class="btn cld-btn-secondary btn-sm" asp-controller="WatchPartyGroup" asp-action="Create">Create Watch Party</a>
                }
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body profile-card text-center">
                        <h3 class="card-title">@@@Model.Watcher.Username</h3>
                        <h5 class="card-subtitle mb-2">@Model.Watcher.FirstName @Model.Watcher.LastName</h5>
                        <p></p>
                        <div class="row">
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Following:</h6>
                                <h6 class="card-subtitle mb-2 text-muted" id="user-amount-following">@Model.Following.Count</h6>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Followers:</h6>
                                <h6 class="card-subtitle mb-2 text-muted" id="user-amount-followers">@Model.Followers.Count</h6>
                            </div>
                        </div>
                        <input type="hidden" id="user-profile-username" value="@Model.Watcher.Username" />
                        @if (!Model.isCurrentUser)
                        {
                            @if (Convert.ToBoolean(Model.isFollowing))
                            {
                                <input type="submit" value="Follow" class="rounded" id="user-profile-btn-follow" style="display: none;" />
                                <img src="~/img/people.svg" id="user-profile-following-icon" alt="Following User"/>
                            }
                            else
                            {
                                <input type="submit" value="Follow" class="rounded" id="user-profile-btn-follow" />
                                <img src="~/img/people.svg" id="user-profile-following-icon" alt="Following User" style="display: none;"/>
                            }
                        }
                        <p class="card-text">@Model.Watcher.Bio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                @*Only show here if it is the current user*@
                @if (Model.isCurrentUser == true)
                {              
                    <button class="btn cld-btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                }
                else
                {
                    @if (Model.Watcher.WatchListPrivacy == false)
                    {
                        <a class="btn cld-btn-secondary btn-sm" asp-area="" asp-controller="WatchList" asp-action="Index" asp-route-username="@Model.Watcher.Username">Watch List</a>
                    }
                }
            </div>
        </div>
        
        <div class="row text-center my-5">
            <h2>Future Watch Parties</h2>
        </div>
        
        <div class="row profile-watch-parties">
            @if (Model.Groups.Any())
            {
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var group in Model.Groups)
                    {
                        <tr>
                            <td><a asp-controller="WatchPartyGroup" asp-action="Details" asp-route-groupId="@group.Id">@group.GroupTitle</a></td>
                            <td>@group.StartDate</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <h4>No watch parties currently</h4>
            }
        </div>
        
    }
    else
    {
        <p>watcher is null</p>
    }

    <!-- Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="ModalTitle">Edit Profile</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Profile" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Watcher.Id" />
                        <input type="hidden" asp-for="Watcher.AspNetIdentityId" />
                        <input type="hidden" asp-for="Watcher.Username" />
                        <input type="hidden" asp-for="Watcher.Email" />
                        <input type="hidden" asp-for="Following.Count" />
                        <input type="hidden" asp-for="Followers.Count" />
                        <div class="form-group">
                            <label asp-for="Watcher.FirstName" class="control-label">First Name</label>
                            <input asp-for="Watcher.FirstName" class="form-control" style="" />
                            <span asp-validation-for="Watcher.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Watcher.LastName" class="control-label">Last Name</label>
                            <input asp-for="Watcher.LastName" class="form-control" style="" />
                            <span asp-validation-for="Watcher.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Watcher.Bio" class="control-label">Bio</label>
                            <input asp-for="Watcher.Bio" class="form-control" class="input-group-lg" />
                            <span asp-validation-for="Watcher.Bio" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group form-check form-switch">
                            @if (Model.Watcher.WatchListPrivacy == true)
                            {
                                <label asp-for="Watcher.WatchListPrivacy" class="form-check-label control-label">Watch List is private</label>
                            }
                            else
                            {
                                <label asp-for="Watcher.WatchListPrivacy" class="form-check-label control-label">Watch List is public</label>                                
                            }
                            <input asp-for="Watcher.WatchListPrivacy" class="form-check-input form-control" type="checkbox" />
                            <span asp-validation-for="Watcher.WatchListPrivacy" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" style="outline:none" data-bs-dismiss="modal">Cancel</button>
                            @*<button type="button" class="btn btn-outline-secondary">Update</button>*@
                            <input type="submit" value="Update" class="btn cld-outline-secondary" />
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <br />
    <br />
</section>

@section Scripts
{
    <script type="text/javascript" src="~/dist/followUser.js"></script>
}
