@model Watcher
@{
    ViewData["Title"] = "Profile Page";
}

<section class="cld-bg-light">
    <br />
    <br />

    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/img/popcorn.svg")" alt="Logo" width="60" height="48" class="center">
            </div>
            <div class="col-md-9">
                <h3>@Model.Username</h3> 
            <h5>@Model.FirstName @Model.LastName</h5>
            <div class="col-sm-3">
                Following @Model.FollowerCount    Followers @Model.FollowerCount
            </div>
            </div>
        </div>
    }
    else
    {
        <p>watcher is null</p>
    }

    <br />
    <br />
</section>


