@model IEnumerable<Post>

@{
    ViewData["Title"] = "Feed";
}

@*<a asp-action="Create" class="btn btn-outline-primary btn-create-post" role="button">Create New</a>*@

<div class="row">
    <div class="card post-card">
        <div class="card-body text-center">
            <h3 class="card-title">Card title</h3>
            <h6 class="card-subtitle mb-2 text-muted">@@user 02/27/23</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @item.User.Username
            </td>
        </tr>
}
    </tbody>
</table>
*@
