@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WatchParty.ViewModels.WatchListVM

@{
    ViewData["Title"] = "Index";
}

<section class="cld-bg-light" style="text-align:center">
    <br />
    <br />
    <h1>@(Model.watcher.Username)'s Watch List</h1>
    <br>
    <h3>Currently Watching:</h3>
    <br />


    <div class="row">
        <div class="col-md-6">
            <h4>Movies</h4>
            <table class="table table-hover" id="movieTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Overview</th>
                        <th>Release Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var show in Model.movies)
                    {

                        <tr>
                            <th>@show.Title</th>
                            <th>@show.Overview</th>
                            <th>@show.ReleaseDate</th>
                            @if (Model.isCurrentUser)
                            {
                                <th>Delete Button</th>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>Shows</h4>
            <table class="table table-hover" id="showTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Overview</th>
                        <th>First Air Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var show in Model.shows)
                    {
                        
                        <tr>
                            <th>@show.Title</th>
                            <th>@show.Overview</th>
                            <th>@show.FirstAirDate</th>
                            @if (Model.isCurrentUser)
                            {
                                <th>Delete Button</th>
                            }
                        </tr> 
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />

</section>