@model IEnumerable<WatchParty.Models.WatchList>

@{
    ViewData["Title"] = "Index";
}

<section class="cld-bg-light" style="text-align:center">
    <br />
    <br />
    <h1>Welcome to your watch list</h1>
    <br />
    <h3>Currently Watching:</h3>

    <div class="row">
        <div class="col-md-6">
            <h4>Movies</h4>
            <table class="table" id="movieTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Release Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*This is where the JS will insert the data*@
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>TV Shows</h4>
            <table class="table" id="showTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Release Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*This is where the JS will insert the data*@
                </tbody>
            </table>
        </div>
    </div>
</section>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tmdbid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tmdbid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
