@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WatchParty.ViewModels.WatchListVM

@{
    ViewData["Title"] = "Index";
}

<section class="cld-bg-light" style="text-align:center">
    <br />
    <br />
    <h1>Welcome to your watch list</h1>
    <br>
    <h3>Currently Watching:</h3>
    <br />


    <div class="row">
        <div class="col-md-6">
            <h4>Movies</h4>
            <table class="table" id="movieTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Overview</th>
                        <th>Release Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>Shows</h4>
            <table class="table" id="showTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Overview</th>
                        <th>First Air Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*This is where the JS will go*@
                </tbody>
            </table>
        </div>
    </div>

</section>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@